Server/nodered/data/flows.json
[
    {
        "id": "feb3fabae779fa9d",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ttn_broker",
        "type": "mqtt-broker",
        "name": "TTN",
        "broker": "$(TTN_SERVER)",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "influx_conf",
        "type": "influxdb",
        "hostname": "http://influxdb:8086",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "InfluxV2",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "$(INFLUX_URL)"
    },
    {
        "id": "f1",
        "type": "mqtt in",
        "z": "feb3fabae779fa9d",
        "name": "TTN Uplink",
        "topic": "v3/+/devices/+/up",
        "qos": "2",
        "datatype": "json",
        "broker": "ttn_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 620,
        "y": 420,
        "wires": [
            [
                "func_decoder"
            ]
        ]
    },
    {
        "id": "func_decoder",
        "type": "function",
        "z": "feb3fabae779fa9d",
        "name": "Format InfluxDB",
        "func": "var payload = msg.payload.uplink_message.decoded_payload;\nvar deviceId = msg.payload.end_device_ids.device_id;\n\nif (!payload) return null;\n\nmsg.payload = [\n    {\n        measurement: \"mesures_capteurs\",\n        tags: {\n            device: deviceId\n        },\n        fields: {\n            temperature: payload.temperature,\n            humidity: payload.humidity,\n            battery: payload.battery\n        },\n        timestamp: new Date()\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 420,
        "wires": [
            [
                "influx_out"
            ]
        ]
    },
    {
        "id": "influx_out",
        "type": "influxdb out",
        "z": "feb3fabae779fa9d",
        "influxdb": "influx_conf",
        "name": "Save to DB",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "retentionPolicyV18Flux": "",
        "org": "$(INFLUX_ORG)",
        "bucket": "$(INFLUX_BUCKET)",
        "x": 1120,
        "y": 420,
        "wires": []
    }
]